* {
  margin: 0;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

button.MuiButtonBase-root {
  margin: 10px;
  width: 50px;
}

button.MuiButtonBase-root span span {
  padding-right: 50px;
}
